body{
    margin: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* header */

.header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    background-image: linear-gradient(black ,rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0.411));
    position: absolute;
    position: fixed;
}

.header .navbar{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-between;

}

.header .navbar .logo{
    display: flex;
    align-items: center;
    margin-left: 3vw;
}

.logo img{
    width: 10%;
    cursor: pointer;
}

.header .navbar .lista{
    width: 25%;
    margin-right: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .navbar .lista a{
    text-decoration: none;
    color: white;
}

.header .navbar .lista button{
    background-color: rgba(255, 0, 0, 0);
    color: white;
    width: 6vw;
    height: 4vh;
    border: 1px white solid;
    cursor: pointer;
    transition: 0.5s;
}

.header .navbar .lista button:hover{

    /* transform: scale(1.1); */
    background-color: white;
    color: black;
}

/* bem vindo */

.produto{
    width: 100%;
    height: 100vh;
    background-image: url(../assets/background/mh\ tri.jpg);
    background-size: cover;
}

.bemVindo {
    display: flex;
    padding-top: 15vh;
}

.bemVindo div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.bemVindo div h1{
    color: white;
}

.bemVindo div img{
    width: 100%;
}

/* sobre nos */

.sobre {
    display: flex;
}

.sobre div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sobre div h1{
    color: white;
}

.sobre div img {
    width: 100%;
}

/* tema */

.tema {
    display: flex;
}

.tema div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tema div h1{
    color: white;
}

.tema div img {
    width: 100%;
}

/* carrossel */

.carrossel{
    display: flex;
    width: 100%;
    align-items: center;
}

.carrossel .bt1{
    margin-left: 3%;
}

.carrossel .bt2{
    margin-left: 95%;
}

.carrossel button{
    width: 2.5vw;
    height: 5vh;
    font-size: 3vh;
    cursor: pointer;
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    border: white solid 2px;
    color: white;
    border-radius: 100%;
    transition: 0.5s;
}

.carrossel button:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}

.carrossel .container {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
  }

.carrossel .container:hover{
    transition: 0.5s;
}

.carrossel .container #img2{
    width: 40%;
}

.carrossel .container img{
    width: 28%;
}