body{
    margin: 0;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* header e navbar */


/* seleção de monstros */

.selecao_monstros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selecao_monstros div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sl_mn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.sl_mn div{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.sl_mn div a{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.sl_mn div img{
    width: 100%;
}

.sl_mn #more_dragon{
    height: 0vh;
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    transition: 0.5s; 
}

.sl_mn #more_dragon .info{
    display: flex;
}

.sl_mn #more_dragon .info div{
    width: 30%; 
    display: flex;
    flex-direction: column;
}

.sl_mn #more_dragon .info div img{
    width: 100%;
}

.sl_mn #more_dragon .armor{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sl_mn #more_dragon .armor div{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.sl_mn #more_dragon .armor p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* comum */

.sl_mn #more_comum{
    height: 0vh;
    background-color: rgb(29, 29, 29);
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    transition: 0.5s; 
}

.sl_mn button{
    width: 5vh;
    height: 5vh;
    cursor: pointer;
    background-color: white;
    border-radius: 100%;
    border: none;
}

.sl_mn button img{
    width: 80%;
}

.sl_mn #more_comum .info{
    display: flex;
}

.sl_mn #more_comum .info div{
    width: 30%; 
    display: flex;
    flex-direction: column;
}

.sl_mn #more_comum .info div img{
    width: 100%;
}

.sl_mn #more_comum .armor{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sl_mn #more_comum .armor div{
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.sl_mn #more_comum .armor p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}